body{
	background-color: #f5eaea;
}
a{
	display: block;
	color: #333333;
	background-color: #ffffff;
	border-radius: 3px;
	padding-inline: 5px;
}
a:hover{
	color: #ffffff;
	background-color: #2673e3;
	cursor: pointer;
}

p.error{
	color: #ff0000;
	font-weight: bold;
}

form{
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
form .item > *{
	display: block;
}
form label{
	font-weight: bold;
}

input,
select{
	width: 100%;
	height: 30px;
	font-size: 16px;
}

button{
	width: 100%;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	border: solid 1px #ffffff;
	border-radius: 4px;
	margin: 0 1px 0 1px;
}
button:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #2673e3;
}

.status{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.content{
	display: flex;
	padding: 20px;
	column-gap: 20px;
	justify-content: center;
}

.add > a{
	font-weight: bold;
	text-align: center;
}

.folder{
	width: 30%;
}
.task{
	width: 70%;
}
.login,
.register,
.error_screen,
.profile{
	max-width: 400px;
	width: 100%;
}

.login > a{
	margin-inline: 10px;
}

.box{
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px 1px #b7b7b7;
	padding-bottom: 10px;
}
.box.folder > *:last-child{
	padding-bottom: 10px;
}
.box.task > *:last-child{
}

.box h2{
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	color: #ffffff;
	background-color: #1c262d;
	border-radius: 10px 10px 0 0;
	padding-inline: 5px;
}
.box div{
	padding: 10px;
	padding-bottom: 0;
}

div.no_content{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background-color: #ffe9d5;
	margin-top: 10px;
	padding: 0;
}

.folder .list{
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}
.folder .list .item{
	display: flex;
	padding: 0;
}
.folder .list a.folder{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.folder .list a.folder:hover{
	color: #000000;
	transform: translateX(-6px) translateY(-2px);
	box-shadow: 0px 0px 4px 1px #b7b7b7;
}
.folder .list a.folder.active{
	font-weight: bold;
	background-color: #e3e3e3;
	transform: translateX(-6px) translateY(-2px);
	box-shadow: 0px 0px 3px 1px #8c8d8f;
}
.icon_btn{
	width: 28px;
	height: 26px;
	padding: 5px;
	padding-top: 3px;
}

.btn_area{
	display: flex;
	column-gap: 10px;
}

.task table{
	width: 100%;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 0px 4px 1px #b7b7b7;
}
.task th{
	font-weight: bold;
	color: #252525;
	background-color: #ffffff;
	padding-inline: 5px;
	border-bottom: 1px solid gray;
}
.task th:first-of-type{
	border-radius: 3px 0 0 0;
}
.task th:last-of-type{
	border-radius: 0 3px 0 0;
}
.task td{
	padding-inline: 5px;
	word-break: break-all;
}
.task td:nth-of-type(2),
.task td:nth-of-type(3),
.task td:nth-of-type(4),
.task td:nth-of-type(5),
.task th:nth-of-type(4),
.task th:nth-of-type(5){
	text-align: center;
	white-space: nowrap;
	width: 1px;
}
.task th:nth-of-type(4),
.task th:nth-of-type(5){
	padding-top: 5px;
}
.task tr:nth-child(2n){
	background-color: #ffe9e9;
}
.task tr:last-of-type > td:first-of-type{
	border-radius: 0 0 0 3px;
}
.task tr:last-of-type > td:last-of-type{
	border-radius: 0 0 3px 0;
}

.task span{
	font-size: 12px;
	font-weight: bold;
	color: #202020;
	background-color: #a0a0a0;
	border-radius: 10px;
	padding-inline: 5px;
}
.task span.label_danger{
	background-color: #ff7f7f;
}
.task span.label_info{
	background-color: #7fff7f;
}


.modal.outer{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000071;
	visibility: hidden;
}
.modal.window{
	width: 100%;
	max-width: 500px;
	background-color: #f4f9ff;
	border-radius: 10px;
}

.header{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #08489b;
	color: #fff;
	padding-inline: 20px;
}
.header > .title > a{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	background-color: transparent;
	padding-inline: 10px;
}
.header > .menu{
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.header > .menu p{
	width: 100%;
}
.header > .menu p > a{
	background-color: transparent;
	border: none;
	border-bottom: solid 2px #ffffff;
	border-radius: 0;
	display: inline;
	color: #ffffff;
	padding-inline: 0;
}
.header > .menu p > a:hover{
	color: #a0a0a0;
	border-bottom: solid 2px #a0a0a0;
}
.header > .menu a{
	font-weight: bold;
	background-color: #ffffff;
	padding-inline: 10px;
}
.header > .menu a:hover{
	color: #ffffff;
	background-color: #2673e3;
}
.header > .menu button{
	width: fit-content;
	word-break: keep-all;
	border: solid 1px #ffffff;
}

.profile .menu{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.profile .menu a{
	font-weight: bold;
	text-align: center;
}	